.aside-menu {
  padding-top: 32px;
  background-color: $bg-color-1;

  // 清空 BT 預設樣式
  .nav-link {
    padding: 0;
  }
}

.navbar-brand {
  display: inline-block;
  // 用 inline-block 必加
  vertical-align: middle; // 修正多餘的 2-3 px
  // padding: 0 0 0 32px;
  padding-left: 32px;
  padding-bottom: 19px;

  &:hover {
    background-color: cadetblue;
  }
}

.nav {
  margin-left: 32px;
  margin-bottom: 32px; // 多推出空間給登入者區塊用

  a {
    display: inline-block;
    vertical-align: middle;

    &:hover {
      background-color: cadetblue;
    }
  }

  // ul {
  //   position: relative;
  // }

  .nav-item {
    padding-block: 13px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .nav-link {
    color: $gray-900;
    padding-top: 0;
    padding-left: 0;
    font-weight: bold;
    font-size: inherit;

    .material-icons {
      padding-right: 16px;
      vertical-align: middle;
    }

    .nav-title {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5;
    }
  }
}

.aside-menu .user {
  // margin-top: 362px;
  margin-top: auto; // 推出最大間距
  padding-left: 32px;
  margin-bottom: 32px;

  .avatar {
    padding-right: 16px;
  }

  .avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 24px;
  }

  .data-box p:nth-child(1) {
    line-height: 19px;
    margin-bottom: 4px;
  }

  .data-box p:last-child {
    font-size: 14px;
    line-height: 27px;
    color: $font-color-light;
    margin-bottom: 0;
  }

}